.header {
  padding: 0.5rem 0;
  height: 260px;
  position: relative;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    img {
      width: 130px;
    }
  }

  &-toggler {
    position: relative;
    z-index: 100;
    .toggler-title {
      font-family: "Roboto", sans-serif;
      position: absolute;
      color: #fff;
      top: -0.8rem;
      left: -2.4rem;
      font-size: 12px;
      text-transform: uppercase;
    }

    img {
      width: 40px;
      cursor: pointer;
    }
  }
}

.header.about-page {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/images/about-us/about-us-hero.jpeg") center center
      no-repeat;
  background-size: cover;
}

.header.disclaimer-page {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/images/disclaimer/disclaimer-hero.jpeg") center center
      no-repeat;
  background-size: cover;
}
.header.career-page {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/images/disclaimer/disclaimer-hero.jpeg") center center
      no-repeat;
  background-size: cover;
}

.header.policy-page {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/images/policy/policy.jpg") center center no-repeat;
  background-size: cover;
}
.header.services {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/images/services/services.jpeg") center center no-repeat;
  background-size: cover;
}
