.tourism {
  .sub-heading {
    margin-bottom: 2rem;
  }

  & > p {
    line-height: 40px !important;
  }
}

@media (max-width: 425px) {
  .services-sub-text {
    color: #333;
    font-size: 1.6rem;
    margin-left: 0;
    margin-top: -1rem;
  }
  .tourism {
    .sub-heading {
      margin-top: 4rem;
      margin-bottom: 1rem;
    }
  }
}
