@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Open+Sans:wght@300;400&family=Quando&family=Roboto&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.container-pages {
  margin: 0 auto;
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
